@font-face {
    font-family: "poppins-regular";
    src: url('../src/assets/fonts/Poppins-Regular.ttf');
}


* , *::after , * ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family:'poppins-regular';
}
h1{
    width:95%;
    margin-inline:auto;
}

ul li{
    list-style: none;
}



@media screen and (min-width:768px) {

    body{
        max-width: 50%;
        margin: 2em auto;
    }
    h1{
        width: 97%;
    }
}
